Tests: run-tests test-systemd.py
Depends: @, @builddeps@
Restrictions: needs-root, isolation-container, needs-reboot

Tests: upgrade-all-security
Depends: @, @builddeps@, debootstrap, distro-info
Restrictions: needs-root, build-needed, skippable

Tests: upgrade-between-snapshots
Restrictions: needs-root, build-needed, flaky, skippable
Depends: @, @builddeps@, debootstrap

Tests: kernel-patterns
Depends: @, @builddeps@
Restrictions: build-needed, allow-stderr
